<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NEWERPS.Properties.Settings.LY_TESTConnectionString" connectionString="Data Source=.;Initial Catalog=LY_TEST;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="NEWERPS.Properties.Settings.NEW_ERPConnectionString" connectionString="Data Source=192.168.11.15;Initial Catalog=NEW_ERP;Persist Security Info=True;User ID=yijhan;Password=sa123yo" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>